body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100%;
  margin: 0;
}

#root {
  height: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.particles {
  // background: #1b1e21;
  background-image: linear-gradient(to right, #525252 0%, #1b1e21 100%);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

@import './_navigation';
